.fqa-sec {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin: 20px;
  padding: 20px;

  .para {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: column;
  }

  .session {
    max-width: 800px;

    .question {
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 10px;
      background: gray;
      border-radius: 5px;
    }
    .answer {
      padding: 0 10px;
      background: whitesmoke;
      color: #444;
      line-height: 1.5;
      max-height: 0;
      overflow: hidden;
      transition: all 0.3s ease;
      border-radius: 5px;
    }
  }
}
.fqa-sec .session.show .icon {
  rotate: 180deg;
}
.fqa-sec .session.show .answer {
  padding: 15px 18px;
  max-height: 200px;
}
