.detail {
  /* padding: 20px; */
  display: flex;
  align-items: start;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 50px;
  .imgs {
    position: relative;
    width: min-content;
  }
  .main img {
    width: 500px;
    height: 400px;
  }
  .mini-img {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    img {
      height: 100px;
      width: 100px;
    }
  }
  .content-pro {
    width: 500px;
    max-width: 700px;
    .name {
      font-size: 35px;
      padding: 10px 0;
    }
    .price {
      display: flex;
      align-items: center;
      gap: 10px;
      b {
        text-decoration: line-through;
        font-size: 15px;
      }
    }
    p {
      padding: 10px 0;
    }
    .feature {
      padding: 10px 0;
      .head {
        font-weight: bold;
      }
      ul {
        padding: 10px 0;
      }
    }
    .quantity {
      h4 {
        padding: 10px 0;
      }
      .btns {
        border: 1px solid;
        width: max-content;
        border-radius: 10px;
        button {
          background: wheat;
          margin: 5px;
          padding: 0;
          height: 40px;
          width: 50px;
        }
      }
    }
    li {
      list-style: none;
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  button {
    height: 50px;
    width: 200px;
    background: red;
    margin: 10px 0;
    /* padding:; */
  }
}
.product-details {
  padding: 20px;
  margin: 10px;
  h1 {
    padding: 10px 0;
  }
  .flex-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
