.profile {
  background: red;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 400px;
  height: 300px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  /* gap: 10px; */

  .title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .btns {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }
  .name,
  .email {
    font-size: 25px;
  }
}
